<div class="form-container" *ngIf="!loading">
    <h2 class="form-title">Formulario de Registro</h2>
    <hr class="form-divider" />
  
    <form class="form-fields"  [formGroup]="productForm">
      <!-- Fila 1 -->
      <div class="form-row">
        <div class="form-column">
            <label class="label-left">Id</label>
             <app-text-input [edit]="!edit" label="Id" appearance="outline" [filled]="true" [control]="productForm.get('id')">
                <input #epmInput type="text" placeholder='Ingrese un id' formControlName="id" required/>
            </app-text-input> 
        </div>
        <div class="form-column">
            <label class="label-left">Nombre</label>
             <app-text-input label="Name" appearance="outline" [filled]="true" [control]="productForm.get('name')">
                <input #epmInput type="text" placeholder="Ingrese nombre" formControlName="name" required/>
            </app-text-input> 
        </div>
      </div>
  
      <!-- Fila 2 -->
      <div class="form-row">
        <div class="form-column">
            <label class="label-left">Descripcion</label>
            <app-text-input label="description" appearance="outline" [filled]="true" [control]="productForm.get('description')">
                <input #epmInput type="text" placeholder="Descripcion" formControlName="description" required/>
            </app-text-input> 
        </div>
        <div class="form-column">
            <label class="label-left">Logo</label>
            <app-text-input label="logo" appearance="outline" [filled]="true" [control]="productForm.get('logo')">
                <input #epmInput type="text" placeholder="logo" formControlName="logo" required/>
            </app-text-input> 
        </div>
      </div>
  
      <!-- Fila 3 -->
      <div class="form-row">
        <div class="form-column">
            <label class="label-left">Fecha liberación</label>
            <div class="form-group">
                <app-date-input
                style="width: 300px;"
                #dateInput  
                type="date" 
                formControlName="releaseDate" 
                [edit]="false"
                [control]="productForm.get('releaseDate')"
                class="form-control"></app-date-input>
                     
              </div>
        </div>
        <div class="form-column">
            <label class="label-left">Fecha revision</label>
            <div class="form-group" style="width: 50%">
                <app-date-input
                #dateInput  
                type="date" 
                formControlName="checkDate" 
                [edit]="false"
                [control]="productForm.get('checkDate')"
                class="form-control"></app-date-input>
                     
              </div>
            
        </div>
      </div>
  
      <!-- Botones -->
      <div class="form-buttons">
        <app-primary-button [enabled]="true" color="cancel" type="button" class="mr-1">Cancelar</app-primary-button>
        
        <app-primary-button *ngIf="edit" color="primary"  type="submit" [enabled]="true" type="button"  (click)="saveProduct()">Agregar</app-primary-button>
        <app-primary-button *ngIf="!edit" color="primary"  type="submit" [enabled]="true" type="button"  (click)="updateProduct()">Actualizar</app-primary-button>
      </div>
    </form>
  </div>
  
  <div class="form-container" *ngIf="loading">
    <app-spinner [isLoading]="loading"></app-spinner>
    
  </div>
  