.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form-divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-column {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  
  
  .form-row .form-column:first-child {
    align-items: flex-end; 
  }
  .label-left {
    align-self: start;
  }

  .form-row .form-column:first-child label {
    text-align: left;
    padding-left: 200px;
  }
  
  .form-column label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-column input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .form-buttons .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-grey);
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-buttons .btn:hover {
    background-color: var(--primary-blue);
  }
  