.search-container {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 1rem 0;
  }
  
  .search-input {
    width: 100%;
    max-width: 250px; /* Ancho máximo del cuadro de búsqueda */
    padding: 10px;
    border: 0.5px solid #ccc; /* Borde gris claro */
    border-radius: 7px; /* Bordes redondeados */
    font-size: 14px;
    outline: none; /* Elimina el borde azul al hacer clic */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: border-color 0.3s ease; /* Transición suave en el enfoque */
  }
  
  .search-input:focus {
    border-color: var(--primary-blue); /* Cambia el color del borde al enfocarse */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
  }
  