.custom-header {
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 60px; /* Altura fija de aproximadamente 20px */
    background-color: var(--primary-white); /* Color de fondo */
    color: white; /* Color del texto */
    display: flex; /* Centrado del contenido */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  }
  
  .header-content {
    font-size: 20px; /* Tamaño de fuente pequeño para caber en 20px */
    font-weight: bold;
    text-transform: uppercase;
    font-family: "prelo-book", sans-serif;
    color: var(--primary-blue);
    display: flex;
    align-items: center; /* Alinea verticalmente el ícono y el texto */
  }

  .icono {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Ajusta el espaciado entre el ícono y el texto */
  }
  